
.loading_page{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: absolute;
    
}
.image img {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 20%;
    left: 25%;
  }
  
  .spin {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border: 2px solid #34495e;
    border-radius: 100%;
    animation: spin 0.75s infinite linear;
  }
  
  .spin::before,
  .spin::after {
    left: -2px;
    top: -2px;
    display: none;
    position: absolute;
    content: '';
    width: inherit;
    height: inherit;
    border: inherit;
    border-radius: inherit;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .spinner,
  .spinner::before,
  .spinner::after {
    display: inline-block;
    border-color: transparent;
    border-top-color: red;
    animation-duration: 1.2s;
  }
  

  
  @media (max-width:480px) {
    .spin {
      width: 3rem;
      height: 3rem;
    }
    .image img {
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 11%;
      left: 16%;
    }
  }