.leaflet-container {
    color: black;
}

.leaflet-bar {
    background-color: white;
}

/* .leaflet-routing-container{
    visibility: hidden;
} */

.leaflet-interactive{
    stroke: rgb(29, 112, 196);
    stroke-width: 7;
    stroke-linecap: round;
    transition: all 1s;
}
.leaflet-interactive:hover{
    stroke-width: 10;
}
